@import "../";

body {
    padding: 0 1rem 0.5rem 1rem;
    margin: 0 auto;
    max-width: 42rem;
    overflow: hidden;
}

.example {
    padding: 0.5rem 1rem;
    border: 1px solid #CCC;
    position: relative;
    overflow: hidden;
}
