@import "../";

body {
    padding: 0 20px 10px 20px;
    margin: 0 auto;
    max-width: 720px;
    overflow: hidden;
}

.example {
    padding: 10px 20px;
    border: 1px solid #CCC;
    background-color: #F6F6F6;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
