button {
    border: 1px solid #999;

    padding: 0.25em 0.75em;
    background-color: #FFF;

    font: inherit;
    color: inherit;

    transition: background-color 0.2s;
}

button:hover,
button.hover {
    background-color: #EEE;
}

button:active,
button.active {
    background-color: #CCC;
}

button:disabled {
    background-color: #EEE;
    border-color: #BBB;
    color: #BBB;
}
