button {
    border: none;
    border-radius: 4px;

    padding: 10px 20px;
    color: #FFF;
    background-color: #0093B8;

    font: inherit;

    transition: background-color 0.3s;
}

button:hover,
button.hover {
    background-color: #0FC3F0;
}

button:active,
button.active {
    background-color: #007A99;
}

button:disabled {
    background-color: #9FA3A5;
}
