input,
label {
    display: block;
    width: 100%;
}

input {
    color: inherit;
    font: inherit;
    /* line-height must be normal in Firefox, make it the same cross-browser */
    line-height: normal;

    outline: none;
    border: 1px solid #999;

    padding: 0.25em 0.5em;
    margin: 0 0 0.5rem 0;

    transition: 0.2s border-color;
}

input:focus {
    border-color: #666;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    width: auto;
    padding: 0;
    border: none;
}
