input,
label {
    display: block;
    width: 100%;
}

input {
    color: inherit;
    background-color: var(input-color-default);

    font: inherit;
    /* line-height must be normal in Firefox, make it the same cross-browser */
    line-height: normal;

    outline: none;
    border: 1px solid var(input-border-color-default);
    border-radius: var(input-border-radius);

    padding: var(input-padding);
    margin: 0 0 var(input-spacing) 0;

    transition: var(input-transition-time) border-color;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    width: auto;
    padding: 0;
    border: none;
}

input:focus {
    border-color: var(input-border-color-focus);
}
