/* Basic layout styles */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    overflow: hidden;
}
