/* Fonts and other typographical settings */

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 0 10px 0;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.15em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: 0.85em; }

p {
    margin: 0 0 10px 0;
}

hr {
    border: 0;
    border-top: 1px solid #CCC;
    height: 0;
}
